<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.siervofiel.parabolas"
		versionCode="14"
        version   = "2.0.2">

		<name>Parabolas de Jesus</name>

		<description>
			Parabolas de Jesus para Android
		</description>

		<author href="https://www.siervofiel.org" email="info@siervofiel.org">
			Ministerio Siervo Fiel
		</author>
		

		<feature name="InAppBrowser">
		    <param name="android-package" value="org.apache.cordova.InAppBrowser" />
		</feature>
		<feature name="SplashScreen">
		    <param name="android-package" value="org.apache.cordova.SplashScreen" />
		</feature>

		<gap:platform name="android" />

		<preference name="android-minSdkVersion" value="9" />
		<preference name="targetSdkVersion" value="16" /> 
		<preference name="permissions" value="none"/>		
		<preference name="phonegap-version" value="3.0.0" />
		<preference name="orientation" value="portrait" />
		<preference name="webviewbounce" value="false" />

		<icon src="icon-72.png" />
		<icon src="icon-36.jpg" gap:platform="android" gap:density="ldpi" />
		<icon src="icon-48.jpg" gap:platform="android" gap:density="mdpi" />
		<icon src="icon-72.png" gap:platform="android" gap:density="hdpi" />
		<icon src="icon-96.jpg" gap:platform="android" gap:density="xhdpi" />
		<icon src="icon-144.jpg" gap:platform="android" gap:density="xxhdpi" />

		<gap:splash src="splash.png" />
		

	</widget>
