<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.siervofiel.parabolas.test"
		versionCode="10"
        version   = "1.0.0">

		<name>Parabolas de Jesus</name>

		<description>
			Parabolas de Jesus para Android
		</description>

		<author href="https://www.siervofiel.org" email="info@siervofiel.org">
			Ministerio Siervo Fiel
		</author>
		
		<plugin name="InAppBrowser" value="CDVInAppBrowser" />
		
		<gap:platform name="android" />
		<preference name="permissions" value="none"/>
		
		<preference name="phonegap-version" value="3.0.0" />
		<preference name="orientation" value="portrait" />
		<preference name="webviewbounce" value="false" />
		<preference name="stay-in-webview" value="false" />
		
		<icon src="img/icon-57.png" />

	</widget>
